/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.fancybox__container {
  --fancybox-bg: rgba(0,0,0,.5);
}

.f-thumbs__slide__button {
  height: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #000;
}

.sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #0F7DFF;
  text-decoration: underline;
}

a:focus-visible {
  outline: none;
}

.title-section {
  font-weight: 800;
  font-size: 42px;
  line-height: 1.2;
  color: #000;
}
@media (max-width: 1230px) {
  .title-section {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .title-section {
    font-size: 24px;
  }
}

.none {
  display: none !important;
}

@media (max-width: 1230px) {
  .visible-desktop {
    display: none;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.no-scroll {
  overflow-y: hidden;
}

.title-xs {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.title-s-mb20 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}
@media (max-width: 1230px) {
  .title-s-mb20 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .title-s-mb20 {
    margin-bottom: 10px;
  }
}

.title-s-mb18 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}
@media (max-width: 1230px) {
  .title-s-mb18 {
    font-size: 24px;
    margin-bottom: 18px;
  }
}
@media (max-width: 768px) {
  .title-s-mb18 {
    margin-bottom: 18px;
  }
}

.title-h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
}
@media (max-width: 768px) {
  .title-h3 {
    font-size: 24px;
  }
}

.title-h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 1;
}
@media (max-width: 1230px) {
  .title-h2 {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .title-h2 {
    font-size: 22px;
    text-align: center;
  }
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1230px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 360px;
  }
}
@media (max-width: 1230px) {
  .container--tablet-fluid {
    width: auto;
  }
}
@media (max-width: 768px) {
  .container--mobile-fluid {
    width: auto;
  }
}
.container--mobile-no-padding {
  padding: 0;
}

.header {
  padding: 40px 0;
}

.header__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo:hover .header__logo-link {
  color: #1181b9;
}
@media (max-width: 1230px) {
  .header__logo {
    padding: 30px 0;
  }
}
@media (max-width: 768px) {
  .header__logo {
    padding: 30px 0 20px 0;
  }
}

.header__logo-title {
  margin-bottom: 5px;
  color: #000;
}

.header__logo-link {
  color: #6B9DB9;
  font-size: 14px;
  line-height: 1.6;
  transition: color 0.2s ease-in;
}

.header__socials {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__socials a {
  border-radius: 50%;
  transition: all 0.2s ease-in;
  color: black;
}
.header__socials a:hover {
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .header__socials {
    margin-bottom: 30px;
  }
}

.about {
  padding-bottom: 50px;
}
@media (max-width: 1230px) {
  .about {
    margin-bottom: 40px;
  }
}

.about__row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about__block {
  width: 585px;
  padding: 30px;
  background-color: #FBFBFB;
}
.about__block p {
  margin-bottom: 15px;
}
@media (max-width: 1230px) {
  .about__block {
    width: 354px;
  }
}

.about__btn {
  display: inline-block;
  text-align: center;
}
.about__btn a {
  display: block;
}
.about__btn span {
  font-size: 11px;
  color: #999;
}

.about__block--list {
  background-color: #F1F8FB;
}
.about__block--list li + li {
  margin-top: 10px;
}
@media (max-width: 1230px) {
  .about__block--list {
    width: 354px;
    font-size: 24px;
  }
}

.about__block .title-h3 {
  margin-bottom: 20px;
}

.about__skills-list li {
  position: relative;
  list-style: none;
  line-height: 1.3;
  font-size: 14px;
}
.about__skills-list p {
  margin-left: 12px;
}

.about__skills-list li::before {
  content: "";
  top: 8px;
  position: absolute;
  left: 0;
  background-color: #000;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.about__skills-colors {
  margin-bottom: 20px;
}

.about__skills-black {
  padding: 2px 6px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 12px;
}

.about__skills-blue {
  padding: 2px 6px;
  background-color: #39A0FF;
  color: #fff;
  border-radius: 2px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 12px;
}

.about__skills-pink {
  padding: 2px 6px;
  background-color: #DD6ADF;
  color: #fff;
  border-radius: 2px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 12px;
}

.about__skills-yellow {
  padding: 2px 6px;
  background-color: #FFCE20;
  color: #fff;
  border-radius: 2px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 12px;
}

.portfolio {
  padding-bottom: 50px;
}

.portfolio .title-h3 {
  margin-bottom: 20px;
}

.portfolio__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  position: relative;
  width: 380px;
  height: auto;
  cursor: pointer;
}
@media (max-width: 1230px) {
  .portfolio__item {
    width: 354px;
  }
}

.portfolio__item:hover .portfolio__item-img {
  box-shadow: 0px 0px 20px -7px #1181b9;
}
.portfolio__item:hover .portfolio__item-text {
  color: #1181b9;
}

.portfolio__item-img {
  padding: 23px 47px;
  margin-bottom: 15px;
  background-color: #F6F6F6;
  transition: box-shadow 0.2s ease-in;
}
@media (max-width: 1230px) {
  .portfolio__item-img {
    padding: 23px 34px;
  }
}
@media (max-width: 768px) {
  .portfolio__item-img {
    padding: 23px 22px;
  }
}

.portfolio__item-text {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.text__title {
  font-weight: 700;
  line-height: 1.3;
  font-size: 18px;
}
.text__title--modal {
  font-size: 24px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .text__title--modal {
    font-size: 22px;
  }
}

.text__desc {
  line-height: 1.5;
  font-size: 14px;
}
.text__desc--modal p {
  line-height: 1.3;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .text__desc--modal p {
    line-height: 1.5;
  }
}

.link {
  line-height: 1.3;
  font-size: 12px;
  color: #6B9DB9;
}

.img__large {
  position: absolute;
  left: 82px;
  top: 31px;
  width: 217px;
  height: 138px;
}
@media (max-width: 1230px) {
  .img__large {
    left: 69px;
    width: 217px;
  }
}
@media (max-width: 768px) {
  .img__large {
    left: 57.1px;
    width: 217px;
  }
}
.img__large--modal {
  width: 382px;
  height: 240px;
  left: 193px;
  top: 56px;
}
@media (max-width: 1230px) {
  .img__large--modal {
    left: 179px;
  }
}
@media (max-width: 768px) {
  .img__large--modal {
    width: 220px;
    height: 137px;
    left: 55px;
    top: 50px;
  }
}
.img__large--react-logo-home {
  left: 88px;
  top: 56px;
  height: 98px;
}
.img__large--react-logo-modal {
  left: 274px;
  top: 100px;
  height: 160px;
}

.cta {
  padding-bottom: 80px;
}

.cta__content {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  padding: 60px 15px;
  background-color: #F0F5F9;
}
@media (max-width: 768px) {
  .cta__content {
    row-gap: 20px;
    padding: 40px 15px;
  }
}

.cta__content-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
}

.cta__content-btn {
  background-color: #039BE5;
  padding: 11px 20px;
  border-radius: 80px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: all 0.2s ease-in;
}
.cta__content-btn:hover {
  background-color: #1181b9;
}

.cta__content-btn img {
  margin-right: 10px;
}

.footer {
  background-color: #131313;
  margin-top: auto;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  background-color: #131313;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .footer__row {
    flex-direction: column;
    row-gap: 10px;
    padding: 10px 0;
  }
}

.footer__left {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.5);
}

.footer__right {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}
.footer__right a {
  position: relative;
  color: rgba(255, 255, 255, 0.75);
  border: 0px solid rgba(255, 255, 255, 0.75);
}
.footer__right a::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s ease-in;
}
.footer__right a:hover::after {
  width: 100%;
}
@media (max-width: 768px) {
  .footer__right {
    text-align: left;
  }
}

.modal {
  display: none;
  position: relative;
  padding: 0px;
  width: 768px;
  background-color: #fff;
}
@media (max-width: 1230px) {
  .modal {
    width: 738px;
  }
}
@media (max-width: 768px) {
  .modal {
    width: 330px;
  }
}

.modal__body {
  background: #fff;
  transform: translate(0, -50%);
  transition: all 0.2s ease-in;
}

.modal__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 45px 0;
  background-color: #F6F6F6;
}
@media (max-width: 768px) {
  .modal__img {
    padding: 40px 20px 43px 20px;
  }
}

.modal--open .modal__body {
  transform: translate(0, 0);
}

.modal__item-text {
  padding: 20px 40px 30px;
}

.modal__links {
  color: #0F7DFF;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.modal__links a {
  margin-left: 12px;
}
.modal__links li {
  position: relative;
  list-style: none;
}
.modal__links li:not(:last-child) {
  margin-bottom: 10px;
}
.modal__links li:hover {
  font-weight: 600;
}

.modal__links li::before {
  content: "";
  position: absolute;
  background-color: #0F7DFF;
  width: 3px;
  height: 3px;
  top: 9px;
}

.btns {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.3;
}
.btns a {
  display: flex;
  background-color: #F2F2F2;
  color: #000;
  padding: 6px 10px;
  border-radius: 3px;
}
.btns a:hover {
  background-color: #e4e4e4;
}
.btns img {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .btns {
    flex-direction: column;
    row-gap: 11px;
  }
}/*# sourceMappingURL=main.css.map */