.header{
        padding: 40px 0;
}

.header__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo{

&:hover .header__logo-link{
        color: #1181b9;;
    }

    @include tablet {
        padding: 30px 0;
    }
  
    @include mobile {
        padding: 30px 0 20px 0;
    }
}

.header__logo-title{
    margin-bottom: 5px;
    color: #000;
}

.header__logo-link{
    color:#6B9DB9 ;
    font-size: 14px;
    line-height: 1.6;
    transition: color  0.2s ease-in;
}

.header__socials{
   display: flex;
 column-gap: 20px;

& a{
    border-radius: 50%;
    transition: all 0.2s ease-in;
    color: black;
}
 & a:hover{
    transform: scale(1.2);
    // box-shadow: 0px 0px 10px -1px #1181b9;;
 }

 & a:active{
   
 }

 @include mobile {
     margin-bottom: 30px;
 }
}
